footer {
  display: flex;
  justify-content: space-between;
  margin-top: 7em;

  h4 {
    margin-left: 2em;
    font-weight: 400;
    font-size: 1.2rem;
  }

  .attribution {
    margin-right: 2em;

    a {
      text-decoration: none;
      color: rgb(0, 128, 187);
    }
  }
}
