@use "../abstracts/mixins" as *;

.guide {
  text-align: center;
  margin-top: 3em;
  font-size: 1.5rem;

  @include mq(largest) {
    font-size: 1.4rem;
  }

  @include mq(laptop) {
    font-size: 1.3rem;
    margin-top: 4em;
  }

  @include mq(medium) {
    font-size: 1.2rem;
    margin-top: 6em;
  }

  @include mq(small) {
    font-size: 1.1rem;
  }

  @include mq(irrelevant) {
    font-size: 1rem;
  }

  h2 {
    margin: 1em;
    font-weight: 400;
    letter-spacing: 3px;
  }
  p {
    margin: 1em;
    font-weight: 300;
  }
}
